{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Add Profile</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-body">
                    <h3>Add Profile</h3>
                    <hr>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary" value="Add Profile">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>